
body {
  font-family: 'questrial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: white;
  padding: 15px 0;
}

.header__title {
  color: #00bcd4;
}

.header__link {
  text-decoration: none;
  color: #333;
}

.header__link--active {
  color: #00bdd6;
}

.header__btn {
  background: #00bcd4;
  color: white;
  border: none;
  padding: 8px 15px;
}
.header__logo {
  display: flex;          
  align-items: center;    
  gap: 10px;
}
.header__logo img {
  width: 28px;
}

.hero {
  height: 100vh;

  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("fondo.jpg");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
}


.hero__title {
  color: white;
  font-size: 48px;
}

.hero__text {
  color: white;
}


.hero__subtitle {
  color: #00bcd4;
  font-weight: bold;
}

.hero__buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.hero__btn {
  padding: 10px 20px;
  border: none;
}

.hero__btn--primary {
  background: #00bcd4;
  color: white;
}

.hero__btn--secondary {
  background: white;
  color: black;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  border: 1px solid oklab(100% 0 -0.00011);
  top: 50%;
  right: 20px;
  left: auto; 
}
.carousel-control-prev {
  top: 45%;
}

.carousel-control-next {
  top: 55%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0);
}
.arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid #00bcd4;
  background: #00bcd4;


  display: flex;
  align-items: center;
  justify-content: center;
}

.icono {
  width: 20px;
  height: 20px;
  color: rgb(255, 255, 255);
}